/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '../../../libs/shared-styles/src/lib/mixins';
@import '../../../libs/shared-styles/src/lib/breakpoints';

html {scroll-behavior: smooth;}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #F4F6F8;
    background-color: #231F20;
}

button, a {
    &:hover {
        cursor: pointer;
    }
}

h1 {
    font-size: clamp(3rem, 7vw, 5rem);
}

h2 {
    font-size: clamp(2rem, 5vw, 4rem);
}

h3 {
    font-size: clamp(1.5rem, 2vw, 2.5rem);
}

p, button, a {
    font-size: clamp(1rem, 1.5vw, 1.5rem);
}