@use '@angular/material' as mat;

// Define the custom palettes
$custom-yellow: (
  // Your custom colors...
  50: #fbe9a7,
  // ...
  100: #fbc707,
  500: #fbc707,
  // Example primary color
  700: #fbc707,
  A100: #fbe9a7,
  // You can use the same color as one of the above or choose a different one
  A200: #fbc707,
  // Example accent color
  A400: #dbac06,
  A700: #bb9205,
  contrast: (
    // Your contrast colors...
    50: black,
    // ...
    500: white,
    // Example primary contrast color
    // ...
    A200: black,
    // Example accent contrast color
  )
);

$primary-palette: mat.define-palette($custom-yellow);
$accent-palette: mat.define-palette(
  $custom-yellow
); // Using the same palette for simplicity
$warn-palette: mat.define-palette(mat.$red-palette);

// Define the theme
$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $primary-palette,
      accent: $accent-palette,
      warn: $warn-palette,
    ),
  )
);

// Include theme styles for all components
@include mat.all-component-themes($my-theme);

// Define your custom global styles
:root {
  --text-color: #f4f6f8;
  --text-hover-color: #636c77;
  --background-color: #231f20;
  --dark-text: #231f20;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}